.history {
    background-color: rgb(51, 51, 51);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.history_buttons {
    margin-top: -45px;
    display: flex;
    justify-content: center;
    gap: 35px;
    width: 100%;
    position: absolute;
    top: 100px;
}


.pic__history > h1 {
    font-size: 50px;
    color: white;
}

.pic__history img {
    max-height: 600px;
    max-width: 600px;
}

.pic__history {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    z-index: 5;
}

.history__hints {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 850px;
    margin-top: 15px;
    width: 650px;
    margin-left: 20px;
    border: solid;
    border-radius: 10px;
    background-color: rgb(128, 128, 128);

}

.history__hintBox {
    display: none;
    background-color: rgb(235, 235, 81);
    margin-bottom: 25px;
    border: solid;
    border-radius: 10px;
    text-align: center;
    border-color: rgb(26, 26, 26);
    padding: 2px;   
}

.history__solution {
    margin-top: 10px;
    background-color: rgb(0, 202, 51);
    width: 300px;
    margin-bottom: 25px;
    border: solid;
    border-radius: 10px;
    text-align: center;
    border-color: rgb(26, 26, 26);
    padding: 2px; 
}

.history__hintBox.show {
    display: block; /* Sichtbar, wenn die Klasse 'show' hinzugefügt wird */
  }

.history__hints > img {
    height: 200px;
    width: 200px;
    object-fit: contain;
    margin-bottom: -40px;
}

.history__hintBox > h2 {
    font-size: 20px;
}

.solution {
    display: none;
}

.show {
    display: none;
}

.headline__history {
    top: 0;
    position: absolute;
    margin-top: 20px;
    font-size: 25px;
}

.headline__history > h2 {
    color: rgb(255, 255, 255);
    margin-top: -25px;
}

.history__quiz {
    display: flex;
    flex-direction: row;
}