
.movie {
    background-color: rgb(51, 51, 51);
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.movie__buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    z-index: 5;
    margin-bottom: 15px;
    margin-top: 5px;
}

.movie__button {
    cursor: pointer;
    height: 25px;
    width: 55px;
    border: none;
    border-radius: 20px;
    background-color: rgb(128, 128, 128);
    color: black;
    font-size: 1rem;
    font-weight: bold;
}

.movie__solutionButton {
    cursor: pointer;
    height: 25px;
    width: 75px;
    border: none;
    border-radius: 20px;
    background-color: rgb(128, 128, 128);
    color: black;
    font-size: 1rem;
    font-weight: bold;
}

.movie__solutionButton:hover {
    background-color: rgb(85, 85, 85); 
    transition: all 0.1s;
} 

.movie__button:hover {
    background-color: rgb(85, 85, 85); 
    transition: all 0.1s;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.image-wrapper {
    display: flex; 
    padding: 0;
}

.image-wrapper > img {
    height: auto;
    max-width: 920px;
    padding: 0;
  }

  .image-wrapper2 > img {
    height: 390px;
    max-width: 770px;
    padding: 0;
  }

.image__cover {
    position: absolute;
    margin-top: 130px;
    transition: all 2s;
} 

.noShow {
    opacity: 0;
}

.image-container-blur {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    gap: 20px;
    filter: blur(10px);
}

.image__cover > img {
    height: 600px;
    width: 420px;
}  

